@import '../templates.scss';
.sect_three{
    width: 1200px;
    height: 840px;
    display: flex;
    background-color: #F7F7F7;
    .left{
        width: 50%;
        height: 100%;
        @extend %display-center;
        .con{
            width: 414px;
            height: 470px;
            @extend %display-space;
            flex-direction: column;
            .desc{
                font-size: 19px;
                line-height: 33.1px;
            }
            .input input{
                width: 300px;
                height: 62px;
                border: 1px solid #8B8B8B;
                border-radius: 14.2px;
                font-size: 19px;
                padding-left: 23px;
            }
        }
    }
}