@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../templates.scss';
*{
    padding: 0;
    margin: 0;
    font-family: Work Sans;
}
nav{
    width: 100%;
    height: 120px;
    @extend %display-center;
    .nav_con{
        width: 734px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: white;
            font-size: 19px;
        }
    }
}
